.righta button {
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #7B61FF;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

.righta button:hover {
    background-color: #7B61FF;
}

select {
    width: 100px;
    height: 30px;
    background: none;
    border: 1px solid #7B61FF;
    color: #fff;
}

option {
    color: #000;
}