.watch {
    padding: 30px 0;
}

.watch__title {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

.watch__list {
    display: flex;
    flex-direction: column;
}

.container_watch {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.watch__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.watch__header p {
    color: #fff;
    border-bottom: 1px dashed #7B61FF;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.watch__header p:hover {
    color: #7B61FF;
}

.watch button {
    box-shadow: 0px 16px 16px 4px rgba(0, 0, 0, 0.12);
    border-radius: 40px;
    background: none;
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    border: 0.5px solid #7B61FF;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 20px;
}

.watch button:hover {
    background-color: #7B61FF;
}